div{
    background-color: white;
    position: relative;
    padding-top: 100px;
   
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
     
}
h1{
  
    color: #66BFBF;
    margin:40px auto 0 auto;
    font-family: 'Sacramento',serif;
    font-size: 5.625rem;

  }
.red{
    background-color: red;
    width: 200px;
    height: 200px;
}
.blue{
    background-color: blue;
    width: 200px;
    height: 200px;    
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    
}
.top-cloud
{
    position: absolute;
    right: 300px;
    top: 50px;
}
.code
{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.photo
{
   width: 25%;
   float: right;
    margin-left: 30px;
}
.ap
{
    color: #66BFBF;
    font-size: 2.2rem;
    font-weight: normal;
}
.btn
{
    color: #11999E;
}

.skill-row
{
    width: 50%;
    margin: 50px auto 50px;
    text-align: left;
    line-height: 2;
    
}

.c{
    color: #11999E;
    

}
.d
{
    color: #11999E;
}
.e{
    color: #11999E;
    font-size: 2.3rem;
    margin-top: 0px;
}
.pr
{
    width: 15%;
}

hr{
    
    border-style: none; 
    border-top: dotted;
    border-color: grey;
    border-width: 6px;
    width: 5%;
    
  }

  .up{
    background-color: #C1F8CF;
  }

.profile
{
    padding: 50px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #7accff;
    background-image: -webkit-linear-gradient(top, #7accff, #3498db);
    background-image: -moz-linear-gradient(top, #7accff, #3498db);
    background-image: -ms-linear-gradient(top, #7accff, #3498db);
    background-image: -o-linear-gradient(top, #7accff, #3498db);
    background-image: linear-gradient(to bottom, #7accff, #3498db);
    text-decoration: none;
  }

  .bottom-container{
    margin-top: 100px;
    position: relative;
    padding-bottom: 20px;
    padding-top: 40px;
    background-color: #66BFBF;

     
      
  }